.progress-bar {
    width: 100px;
    height: 10px;
    background-color: #3a3a5e;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .progress-bar div {
    height: 100%;
    background-color: #61db87;
    text-align: center;
    color: #000;
    font-size: 10px;
  }
  