.proposal-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 0;
  background-color: #222;
  border-radius: 5px;
  width: 100%; 
  box-sizing: border-box;
}

  
  .status.passed {
    color: #61db87;
  }
  
  .status.rejected {
    color: #ff6b6b;
  }
  
  .status.voting {
    color: #f6d365;
  }
      